<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
        <br>
        <br>
        <%= @user.email %>
      </h1>
    </div>
<h1> My Courses </h1>
  <% Enrollment.where(user_id: current_user.id).each do |courses| %>
    <div class="row individual_course">
      <% c = Course.find(courses.course_id) %>
      <h3><%=c.name%> - <%=c.code%></h3>
      <p> <%=c.description %>
    </div>
  <% end %>
</section>
</aside>
</div>
