<h1>Search</h1>
  <%= form_tag('/results', method: "get", remote: true, role: "form", class: "form", id: "result_form") do %>

    <div class = "form-group">
      <label>Keywords</label>
      <%= text_field_tag(:keywords, params[:keywords], class: "form-control", onkeyup:"AJAXSearchForm();") %>
    </div>

    <div class = "form-group">
      <label>Subject</label>
      <%= select("subjects", "name", @subject, {include_blank: true}, onchange:"AJAXSearchForm();") %>
    </div>
    

  <% end %>
<p><%=link_to 'Back', courses_path %></p>

<div class="row col-md-offset-1 col-md-11">
  <div id="results">
  </div>
</div>

<!-- <script>

function AJAXSearchForm(){
    console.log("onkeyup");
    $.ajax({
         url : <%=results_path%>,
         data : $("form#new").serialize()
    });
}
</script> -->
