<h1>Search</h1>
  <%= form_tag('/results', method: "get", id: "result_form") do %>

    <div class = "field">
      Keywords
      <%= text_field_tag :keywords, params[:keywords] %>
    </div>

    <div class = "field">
      Subject
      <%= select("subjects", "name", @subject, {include_blank: true})  %>
    </div>

    <div class = "actions">
      <%= submit_tag "Search", class: "pure-button pure-button-primary" %>
    </div>
  <% end %>
<p><%=link_to 'Back', courses_path %></p>
